### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
Total_Schools = len(school_data_complete["school_name"].unique())
Total_Students =  len(school_data_complete["Student ID"].unique())
Total_Budget = school_data_complete["budget"].unique().sum()
# Total_Schools

In [3]:
Average_math_scores = school_data_complete["math_score"].mean()


# Average_math_scores

In [4]:
Average_reading_scores = school_data_complete["reading_score"].mean()
# Average_reading_scores

In [5]:
Pass_math = school_data_complete["math_score"]>=70
Passed_math = len(Pass_math[Pass_math == True].index)
Passing_math = Passed_math/Total_Students

# Passing_math

In [6]:
Pass_reading = school_data_complete["reading_score"]>=70
Passed_reading = len(Pass_reading[Pass_reading == True].index)
Passing_reading = Passed_reading/Total_Students

# Passing_reading

In [7]:
Pass_all = school_data_complete[(school_data_complete.reading_score>=70) & (school_data_complete.math_score>=70)]
passed_all = len(Pass_all)/Total_Students
# passed_all

In [8]:
district_summary = pd.DataFrame({"Total Schools":[Total_Schools], "Total Students":Total_Students, "Total Budget":(f'${Total_Budget}'), 
                                 "Average Math Score":Average_math_scores, "Average Reading Score":Average_reading_scores, 
                                 "% Passing Math":Passing_math, "% Passing Reading":Passing_reading, 
                                 "% Overall Passing": passed_all})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,$24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
per_school_math = school_data_complete[(school_data_complete["math_score"]>=70)]
per_school_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]
per_school_students = school_data_complete["school_name"].value_counts()
per_school_passing_math = per_school_math.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
per_school_passing_reading = per_school_reading.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
per_school_all = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
per_school_pass_all = per_school_all.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
# per_school_pass_all

In [10]:
school_avg_reading = school_data_complete.groupby("school_name").mean()["reading_score"]
school_avg_math = school_data_complete.groupby("school_name").mean()["math_score"]
# School = school_data_complete.groupby("type")
school_budget = school_data_complete.groupby("school_name").mean()["budget"]
school_type = school_data.set_index("school_name")["type"]
per_student_budget = school_budget/per_school_students
school_summary = pd.DataFrame({"School Type":school_type, "Total Students":per_school_students, "School Budget":school_budget, "Per Student Budget":per_student_budget,
                               "Math Score":school_avg_math, "Reading Score":school_avg_reading, "% Passing Math":per_school_passing_math, 
                               "% Passing Reading":per_school_passing_reading, "% Overall Passing":per_school_pass_all})

In [11]:
school_summary

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [12]:
Top_performing_schools = school_summary.sort_values("% Overall Passing", ascending=False)
Top_performing_schools.head()

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [13]:
Bottom_performing_schools = school_summary.sort_values("% Overall Passing")
Bottom_performing_schools.head()

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [14]:
ninth_grade = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
ninth_grade_math = ninth_grade.groupby(["school_name"]).mean()["math_score"]
# ninth_grade_math

In [15]:
tenth_grade = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
tenth_grade_math = tenth_grade.groupby(["school_name"]).mean()["math_score"]
# tenth_grade_math

In [16]:
eleventh_grade = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
eleventh_grade_math = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
# eleventh_grade_math

In [17]:
twelfth_grade = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
twelfth_grade_math = twelfth_grade.groupby(["school_name"]).mean()["math_score"]
# twelfth_grade_math

In [18]:
grade_math_summary = pd.DataFrame({"9th":ninth_grade_math, "10th":tenth_grade_math, 
                                   "11th":eleventh_grade_math, "12th":twelfth_grade_math})
grade_math_summary

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [19]:
ninth_grade = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
ninth_grade_reading = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
# ninth_grade_reading

In [20]:
tenth_grade = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
tenth_grade_reading = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
# tenth_grade_reading

In [21]:
eleventh_grade = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
eleventh_grade_reading = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
# eleventh_grade_reading

In [22]:
twelfth_grade = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
twelfth_grade_reading = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]
# twelfth_grade_reading

In [23]:
grade_reading_summary = pd.DataFrame({"9th":ninth_grade_reading, "10th":tenth_grade_reading, 
                                      "11th":eleventh_grade_reading, "12th":twelfth_grade_reading})
grade_reading_summary

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [24]:
school_budget_summary = school_summary

In [25]:
bins = [0, 585, 630, 645, 680]
group_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
pd.cut(school_budget_summary["Per Student Budget"], bins, labels=group_labels).head()

Bailey High School      $585-630
Cabrera High School        <$585
Figueroa High School    $630-645
Ford High School        $630-645
Griffin High School     $585-630
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585 < $585-630 < $630-645 < $645-680]

In [27]:
school_budget_summary["Spending Ranges '(Per Student)'"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels)

In [28]:
school_budget_summary

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges '(Per Student)'
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [29]:
school_budget_group = school_budget_summary.groupby("Spending Ranges '(Per Student)'")
school_budget_group.count()

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges '(Per Student)',,,,,,,,,
<$585,4,4,4,4,4,4,4,4,4
$585-630,4,4,4,4,4,4,4,4,4
$630-645,4,4,4,4,4,4,4,4,4
$645-680,3,3,3,3,3,3,3,3,3

In [30]:
school_budget_group[["Math Score", "Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges '(Per Student)',,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [31]:
school_size_summary = school_summary

In [32]:
bins = [0, 1000, 2000, 5000, ]
group_labels = ["Small '(<1000)'", "Medium '(1000-2000)'", "Large '(2000-5000)'",]

In [33]:
pd.cut(school_size_summary["Total Students"], bins, labels=group_labels).head()

Bailey High School       Large '(2000-5000)'
Cabrera High School     Medium '(1000-2000)'
Figueroa High School     Large '(2000-5000)'
Ford High School         Large '(2000-5000)'
Griffin High School     Medium '(1000-2000)'
Name: Total Students, dtype: category
Categories (3, object): [Small '(<1000)' < Medium '(1000-2000)' < Large '(2000-5000)']

In [34]:
school_size_summary["School Size"] = pd.cut(school_summary["Total Students"], bins, labels=group_labels)

In [35]:
school_size_summary

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges '(Per Student)',School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large '(2000-5000)'
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium '(1000-2000)'
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large '(2000-5000)'
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large '(2000-5000)'
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium '(1000-2000)'
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large '(2000-5000)'
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small '(<1000)'
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large '(2000-5000)'
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large '(2000-5000)'
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small '(<1000)'
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large '(2000-5000)'
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium '(1000-2000)'
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium '(1000-2000)'
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large '(2000-5000)'
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium '(1000-2000)'

In [36]:
school_size_group = school_budget_summary.groupby("School Size")
school_size_group.count()

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges '(Per Student)'
School Size,,,,,,,,,,
Small '(<1000)',2,2,2,2,2,2,2,2,2,2
Medium '(1000-2000)',5,5,5,5,5,5,5,5,5,5
Large '(2000-5000)',8,8,8,8,8,8,8,8,8,8

In [37]:
school_size_group[["Math Score", "Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small '(<1000)',83.821598,83.929843,93.550225,96.099437,89.883853
Medium '(1000-2000)',83.374684,83.864438,93.599695,96.790680,90.621535
Large '(2000-5000)',77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [38]:
school_type_summary = school_summary

In [39]:
school_type_summary["School Type"] = school_type_summary["School Type"].replace(["District", "Charter"],["1", "2"])

In [40]:
school_type_summary.loc[:, "School Type"] = school_type_summary["School Type"].astype("int")
school_type_summary.dtypes

School Type                           int32
Total Students                        int64
School Budget                       float64
Per Student Budget                  float64
Math Score                          float64
Reading Score                       float64
% Passing Math                      float64
% Passing Reading                   float64
% Overall Passing                   float64
Spending Ranges '(Per Student)'    category
School Size                        category
dtype: object

In [41]:
bins = (0, 1, 2)
group_labels = ["Charter", "District"]

In [42]:
pd.cut(school_type_summary["School Type"], bins, labels=group_labels).head()

Bailey High School       Charter
Cabrera High School     District
Figueroa High School     Charter
Ford High School         Charter
Griffin High School     District
Name: School Type, dtype: category
Categories (2, object): [Charter < District]

In [43]:
school_type_summary

,School Type,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges '(Per Student)',School Size
Bailey High School,1,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large '(2000-5000)'
Cabrera High School,2,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium '(1000-2000)'
Figueroa High School,1,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large '(2000-5000)'
Ford High School,1,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large '(2000-5000)'
Griffin High School,2,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium '(1000-2000)'
Hernandez High School,1,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large '(2000-5000)'
Holden High School,2,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small '(<1000)'
Huang High School,1,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large '(2000-5000)'
Johnson High School,1,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large '(2000-5000)'
Pena High School,2,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small '(<1000)'
Rodriguez High School,1,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large '(2000-5000)'
Shelton High School,2,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium '(1000-2000)'
Thomas High School,2,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium '(1000-2000)'
Wilson High School,2,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large '(2000-5000)'
Wright High School,2,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium '(1000-2000)'

In [44]:
school_type_summary["School Type"] = pd.cut(school_summary["School Type"], bins, labels=group_labels)

In [45]:
school_type_group = school_type_summary.groupby("School Type")
school_type_group.count()

,Total Students,School Budget,Per Student Budget,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges '(Per Student)',School Size
School Type,,,,,,,,,,
Charter,7,7,7,7,7,7,7,7,7,7
District,8,8,8,8,8,8,8,8,8,8

In [46]:
school_type_group[["Math Score", "Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Math Score,Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,76.956733,80.966636,66.548453,80.799062,53.672208
District,83.473852,83.896421,93.620830,96.586489,90.432244