### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
Total_Schools = len(school_data_complete["school_name"].unique())
Total_Students =  len(school_data_complete["Student ID"].unique())
Total_Budget = school_data_complete["budget"].unique().sum()
Total_Schools

15

In [3]:
Total_Students

39170

In [4]:
Total_Budget

24649428

In [5]:
Average_math_scores = school_data_complete["math_score"].mean()


Average_math_scores

78.98537145774827

In [6]:
Average_reading_scores = school_data_complete["reading_score"].mean()
Average_reading_scores

81.87784018381414

In [7]:
Pass_math = school_data_complete["math_score"]>=70
Passed_math = len(Pass_math[Pass_math == True].index)
Passing_math = Passed_math/Total_Students

Passing_math

0.749808526933878

In [8]:
Pass_reading = school_data_complete["reading_score"]>=70
Passed_reading = len(Pass_reading[Pass_reading == True].index)
Passing_reading = Passed_reading/Total_Students

Passing_reading

0.8580546336482001

In [9]:
Pass_all = school_data_complete[(school_data_complete.reading_score>=70) & (school_data_complete.math_score>=70)]
passed_all = len(Pass_all)/Total_Students
passed_all

0.6517232575950983

In [10]:
district_summary = pd.DataFrame({"Total Schools":[Total_Schools], "Total Students":Total_Students, "Average Math Score":Average_math_scores, 
                                "Average Reading Score":Average_reading_scores, "% Passing Math":Passing_math, 
                                 "% Passing Reading":Passing_reading, "% Overall Passing": passed_all})
district_summary

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [76]:
per_school_math = school_data_complete[(school_data_complete["math_score"]>=70)]
per_school_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]
per_school_students = school_data_complete["school_name"].value_counts()
per_school_passing_math = per_school_math.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
per_school_passing_reading = per_school_reading.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
per_school_all = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]
per_school_pass_all = per_school_all.groupby(["school_name"]).count()["student_name"] / per_school_students * 100
per_school_pass_all

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [67]:
school_avg_reading = school_data_complete.groupby("school_name").mean()["reading_avg_score"]
school_avg_math = school_data_complete.groupby("school_name").mean()["math_avg_score"]
# School = school_data_complete.groupby("type")
school_budget = school_data_complete.groupby("school_name").mean()["budget"]
school_type = school_data.set_index("school_name")["type"]
school_summary = pd.DataFrame({"Reading Score":school_avg_reading, "Math Score":school_avg_math, "School Type":school_type, "School Budget":school_budget
                              })

In [65]:
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [61]:
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [56]:
school_avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [57]:
school_avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [68]:
school_summary

                       Reading Score  Math Score School Type  School Budget
Bailey High School         81.033963   77.048432    District      3124928.0
Cabrera High School        83.975780   83.061895     Charter      1081356.0
Figueroa High School       81.158020   76.711767    District      1884411.0
Ford High School           80.746258   77.102592    District      1763916.0
Griffin High School        83.816757   83.351499     Charter       917500.0
Hernandez High School      80.934412   77.289752    District      3022020.0
Holden High School         83.814988   83.803279     Charter       248087.0
Huang High School          81.182722   76.629414    District      1910635.0
Johnson High School        80.966394   77.072464    District      3094650.0
Pena High School           84.044699   83.839917     Charter       585858.0
Rodriguez High School      80.744686   76.842711    District      2547363.0
Shelton High School        83.725724   83.359455     Charter      1056600.0
Thomas High School         83.848930   83.418349     Charter      1043130.0
Wilson High School         83.989488   83.274201     Charter      1319574.0
Wright High School         83.955000   83.682222     Charter      1049400.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type